@page
@{

}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @*<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>*@

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap -->
    @*<script src="/examples/vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>*@

    @*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

    <style type="text/css">
        /*table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            text-align: left;
            border-collapse: separate;
            border-spacing: 3px;
            background: #337ab7;
            background-color: #337ab7;
            border-radius: 0.375em;
            box-shadow: inset 0 0 0 2px #337ab7;
            color: #337ab7 !important;
        }

        tr {
            background: #ffffff;
            border: 3px solid #337ab7;
        }

        th {
            font-size: 18px;
            padding: 10px;
        }

        td {
            background: #ffffff;
            padding: 10px;
        }*/

        #Equipment {
            color: #337ab7;
        }

        INPUT {
            margin: 10px 10px 10px 0;
        }

        .table {
        }

        .upload-button {
            display: -webkit-inline-box;
        }

        #form {
            margin: 0 0 0 0;
        }
    </style>
</head>


<body>
    <INPUT type="button" value="Добавить" data-modal="addModal" />
    <INPUT type="button" value="Редактировать" onclick="openEditModal()" />
    <INPUT type="button" value="Удалить" onclick="openDeleteModal()" />

    <form id="form" name="form" enctype="multipart/form-data" method="post">
        <div class="buttons">
            <div class="upload-button">
                <INPUT id="files" class="import" name="files" type="file" size="1" value="Импорт" onchange="prepareFile('files')" />
                <INPUT id="import" type="button" value="Импорт" onclick="importXlsx()" style="visibility:hidden;" />
            </div>
        </div>
    </form>

    <div class="table">
        <table id="equipmentTable">
            <thead>
                <tr>
                    <th>Код</th>
                    <th>Оборудование</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="overlay" class="overlay fadeOut" data-close=""></div>
    <div class="modal-outer" style="top: -460px;">
        <span class="closer" id="closer" data-close=""></span>
        <div id="addModal">
            <form name="equipmentForm">
                <input type="hidden" name="id" value="0" />
                <div class="form-group">
                    <label for="code">Код:</label>
                    <input class="form-control" name="code" id="code" />
                    <label for="name">Оборудование:</label>
                    <input class="form-control" name="name" id="name" />
                </div>
                <div class="panel-body">

                    <input type="button" value="Добавить" onclick="AddEquipment()" />
                    <input type="button" value="Сбросить" onclick="reset('equipmentForm')" />
                </div>
            </form>
        </div>


        <div id="editModal">
            <form name="equipmentEditForm">
                <input type="hidden" name="id" value="0" />
                <div class="form-group">
                    <label for="codeEdit">Код:</label>
                    <input class="form-control" name="codeEdit" id="codeEdit" />
                    <label for="nameEdit">Оборудование:</label>
                    <input class="form-control" name="nameEdit" id="nameEdit" />
                </div>
                <div class="panel-body">

                    <input type="button" value="Изменить" onclick="EditEquipment()" />
                    @*TODO*@
                    <input type="button" value="Сбросить" onclick="reset('equipmentEditForm')" />
                </div>
            </form>
        </div>


        <div id="deleteModal">
            <div class="panel-body">
                <h3>Вы уверены, что хотите удалить запись?</h3>
                <input type="button" value="Удалить" onclick="DeleteEquipment()" />
                <input type="button" value="Отменить" onclick="CloseModal()" />
            </div>
        </div>
    </div>


    <script>

        var formData;

        function prepareFile(inputId) {
            var input = document.getElementById(inputId);
            var files = input.files;
            formData = new FormData();

            for (var i = 0; i != files.length; i++) {
                formData.append("files", files[i]);
            }

            var importButton = document.getElementById("import");
            importButton.style = "visibility:visible;";
        }


        function importXlsx() {
            var _url = '@Url.Action("Import", "Equipment")';

            $.ajax(
                {
                    url: _url,
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: async function (equipment) {
                        //console.log(techProcess);

                        var table = document.getElementById('equipmentTable');

                        for (var i = 1; i < table.rows.length;) {
                            table.deleteRow(i);
                        }
                        await GetEquipments();
                        alert('Запись успешно добавлена');
                        var importButton = document.getElementById("import");
                        importButton.style = "visibility:hidden;";
                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });

        }
    </script>


    <script>
        var selectedCheckbox;
        var selectedForDelete = [];
        var resultForDelete = new Map();

        function EditEquipment() {
            var namePUT = document.getElementById("nameEdit").value;
            var codePUT = document.getElementById("codeEdit").value;

            var idPUT = selectedCheckbox;

            var urlstr = "api/Equipment/" + idPUT;
            $.ajax({
                url: urlstr,
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    code: codePUT,
                    name: namePUT,
                    id: idPUT
                }),
                success: async function (equipment) {
                    reset('equipmentEditForm');
                    alert('Запись успешно изменена');
                    //update table

                    var table = document.getElementById('equipmentTable');

                    for (var i = 1; i < table.rows.length;) {
                        table.deleteRow(i);
                    }
                    await GetEquipments();
                    CloseModal();
                },
                error: function (e) {
                    console.log(e.message);
                }
            })
        }

        function openEditModal() {

            $('input[type=checkbox]').each(async function () {
                //if ($(this).is(':checked')) {
                if (this.checked) {
                    selectedCheckbox = this.value;
                    var editModal = document.getElementById('editModal');

                    somebodyShow(editModal);
                    //TODO SHOW EDIT MODAL


                    //editButton.setAttribute('data-modal', 'editModal');
                    //showForEdit(editModal);
                    //modalShow(editModal);
                    //$("#editModal").show();
                    var id = selectedCheckbox;
                    await GetEquipmentById(id);

                    return false;
                }
            });
            if (selectedCheckbox == null) {
                alert('Не выбрана ни одна запись');
            }
            return false;
        }

        // сброс формы
        function reset(formId) {
            var form = document.forms[formId];
            form.reset();
            form.elements["id"].value = 0;
        }


        function CloseModal() {
            var closer = document.getElementById('closer');
            closer.click();
        }


        function openDeleteModal() {
            selectedForDelete = [];

            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    selectedForDelete.push(this.value)
                }
            });


            if (selectedForDelete.length == 0) {
                alert('Не выбрана ни одна запись');
                return false;
            }


            var deleteModal = document.getElementById('deleteModal');
            //TODO SHOW DELETE MODAL
            somebodyShow(deleteModal);

            return false;
        }

        async function DeleteEquipment() {
            selectedForDelete.forEach(async function (elem) {
                await GetEquipmentById(elem);
                var idDEL = elem;
                var nameDEL = resultForDelete.get('name');
                var codeDEL = resultForDelete.get('code');

                var urlstr = "api/Equipment/" + idDEL;
                $.ajax({
                    url: urlstr,
                    contentType: "application/json",
                    method: "DELETE",
                    data: JSON.stringify({
                        code: codeDEL,
                        name: nameDEL,
                        id: idDEL
                    }),
                    success: async function (equipment) {
                        alert('Запись удалена');

                        var table = document.getElementById('equipmentTable');

                        for (var i = 1; i < table.rows.length;) {
                            table.deleteRow(i);
                        }
                        await GetEquipments();
                        CloseModal();
                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });
            })
            //alert('Запись удалена');
            //CloseModal();
            //if (res) {
            //    alert('Запись удалена');

            //    var table = document.getElementById('equipmentTable');

            //    for (var i = 1; i < table.rows.length;) {
            //        table.deleteRow(i);
            //    }
            //    await GetEquipments();
            //    CloseModal();
            //}



        }


        async function GetEquipmentById(id) {
            var urlstr = "api/Equipment/" + id;
            await $.ajax({
                url: urlstr,
                type: 'GET',
                contentType: "application/json",
                success: async function (equipment) {
                    var name = document.getElementById('nameEdit');
                    var code = document.getElementById('codeEdit');
                    name.value = equipment.name;
                    code.value = equipment.code;

                    resultForDelete.set('name', equipment.name);
                    resultForDelete.set('code', equipment.code);
                },
                error: function (e) {
                    console.log(e.message);
                }
            });
        }

        function AddEquipment() {
            var name = document.getElementById("name").value;
            var code = document.getElementById("code").value;

            $.ajax({
                url: "api/Equipment",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    code: code,
                    name: name
                }),
                success: function (equipment) {
                    reset('equipmentForm');
                    alert('Запись успешно добавлена');
                    addRow('equipmentTable', equipment);
                }
            })
        }


        // Получение всех equipment
        function GetEquipments() {
            $.ajax({
                url: '/api/Equipment',
                type: 'GET',
                contentType: "application/json",
                success: function (equipments) {

                    $.each(equipments, function (index, equipment) {
                        if (equipment.name != "-") {
                            var transactionList = equipment;

                            addRow("equipmentTable", transactionList);
                        }
                    })
                },
                error: function (e) {
                    console.log(e.message);
                    if (e.status == 500) {
                        alert('Нет соединения с базой данных');
                    }
                }
            });
        }

        async function addRow(tableID, data) {

            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);


            var cell1 = row.insertCell(0);
            cell1.innerText = data.code;

            var cell2 = row.insertCell(1);
            cell2.innerText = data.name;

            var cell3 = row.insertCell(2);
            //var el = document.createElement('label');
            //cell4.innerHTML = '<input type="checkbox" class="cbx" value="' + data.id + '" id="checkbox' + data.id + '" style="display: none;"><label for="checkbox' + data.id + '" class="check"><svg width="18px" height="18px" viewBox="0 0 18 18"><path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path><polyline points="1 9 7 14 15 4"></polyline></svg></label>';
            //el.innerHTML = '<input type="checkbox" id="checkbox" value="' + data.id + '" id="cbx" style="display: block;">';
            cell3.innerHTML = '<input type="checkbox" value="' + data.id + '" id="checkbox' + data.id + '"/><label for="checkbox' + data.id + '"></label>';
            //cell4.appendChild(el);
        }
        GetEquipments();






        var overlay = document.getElementById('overlay'),
            mOpen = document.querySelectorAll('[data-modal]'),
            mClose = document.querySelectorAll('[data-close]'),
            outer = document.querySelector('.modal-outer'),
            modals = document.querySelectorAll('.modal-outer > div'),
            duration = 400,
            mStatus = false,
            h = null;



        setTopOuter();

        function setTopOuter() {
            outer.style.top = -outer.offsetHeight + 'px';
        }


        function somebodyShow(modal) {

            mStatus = true;
            overlay.classList.remove('fadeOut');
            overlay.classList.add('fadeIn');
            modal.style.display = 'block';

            var start = new Date().getTime(),
                startTop = outer.getBoundingClientRect().top,
                finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                offset = outer.offsetHeight + finalTop;

            var fn = function () {
                var now = new Date().getTime() - start,
                    currTop = Math.round(startTop + offset * now / duration);

                currTop = (currTop > finalTop) ? finalTop : currTop;
                outer.style.top = currTop + 'px';

                if (currTop < finalTop) {
                    requestAnimationFrame(fn);
                }
            }
            requestAnimationFrame(fn);
            window.addEventListener('resize', setTopOpenOuter);
        }

        function setTopOpenOuter() {
            outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
        }

        (function () {
            if (mOpen.length == 0) return;
            [].forEach.call(mOpen, function (el) {
                el.addEventListener('click', function (e) {
                    var modalId = el.getAttribute('data-modal'),
                        modal = document.getElementById(modalId);
                    somebodyShow(modal);
                });
            });
        }());


        [].forEach.call(mClose, function (el) {
            el.addEventListener('click', modalClose);
        });

        document.addEventListener('keydown', modalClose);


        function modalClose(event) {
            if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                mStatus = false;

                var start = new Date().getTime(),
                    startTop = outer.getBoundingClientRect().top,
                    finalTop = -outer.offsetHeight,
                    offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                var fn = function () {
                    var now = new Date().getTime() - start,
                        currTop = Math.round(startTop - offset * now / duration);

                    currTop = (currTop < finalTop) ? finalTop : currTop;
                    outer.style.top = currTop + 'px';

                    if (currTop > finalTop) {
                        requestAnimationFrame(fn);
                    } else {
                        overlay.classList.remove('fadeIn');
                        overlay.classList.add('fadeOut');
                        [].forEach.call(modals, function (modal) {
                            modal.removeAttribute('style');
                        });
                    }
                }
                requestAnimationFrame(fn);
                window.removeEventListener('resize', setTopOpenOuter);
            }
        }



        ; (function () {
            var overlay = document.getElementById('overlay'),
                mOpen = document.querySelectorAll('[data-modal]'),
                mClose = document.querySelectorAll('[data-close]'),
                outer = document.querySelector('.modal-outer'),
                modals = document.querySelectorAll('.modal-outer > div'),
                duration = 400,
                mStatus = false,
                h = null;

            if (mOpen.length == 0) return;

            setTopOuter();

            function setTopOuter() {
                outer.style.top = -outer.offsetHeight + 'px';
            }

            [].forEach.call(mOpen, function (el) {
                el.addEventListener('click', function (e) {
                    var modalId = el.getAttribute('data-modal'),
                        modal = document.getElementById(modalId);
                    modalShow(modal);
                });
            });

            [].forEach.call(mClose, function (el) {
                el.addEventListener('click', modalClose);
            });

            document.addEventListener('keydown', modalClose);

            function modalShow(modal) {
                mStatus = true;
                overlay.classList.remove('fadeOut');
                overlay.classList.add('fadeIn');
                modal.style.display = 'block';

                var start = new Date().getTime(),
                    startTop = outer.getBoundingClientRect().top,
                    finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                    offset = outer.offsetHeight + finalTop;

                var fn = function () {
                    var now = new Date().getTime() - start,
                        currTop = Math.round(startTop + offset * now / duration);

                    currTop = (currTop > finalTop) ? finalTop : currTop;
                    outer.style.top = currTop + 'px';

                    if (currTop < finalTop) {
                        requestAnimationFrame(fn);
                    }
                }
                requestAnimationFrame(fn);
                window.addEventListener('resize', setTopOpenOuter);
            }

            function modalClose(event) {
                if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                    mStatus = false;

                    var start = new Date().getTime(),
                        startTop = outer.getBoundingClientRect().top,
                        finalTop = -outer.offsetHeight,
                        offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                    var fn = function () {
                        var now = new Date().getTime() - start,
                            currTop = Math.round(startTop - offset * now / duration);

                        currTop = (currTop < finalTop) ? finalTop : currTop;
                        outer.style.top = currTop + 'px';

                        if (currTop > finalTop) {
                            requestAnimationFrame(fn);
                        } else {
                            overlay.classList.remove('fadeIn');
                            overlay.classList.add('fadeOut');
                            [].forEach.call(modals, function (modal) {
                                modal.removeAttribute('style');
                            });
                        }
                    }
                    requestAnimationFrame(fn);
                    window.removeEventListener('resize', setTopOpenOuter);
                }
            }

            function setTopOpenOuter() {
                outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
            }
        })();

    </script>

    <script>var typeAnimate = 'slide';</script>
    @*<script>
            ; (function () {
                var overlay = document.getElementById('overlay'),
                    mOpen = document.querySelectorAll('[data-modal]'),
                    mClose = document.querySelectorAll('[data-close]'),
                    outer = document.querySelector('.modal-outer'),
                    modals = document.querySelectorAll('.modal-outer > div'),
                    duration = 400,
                    mStatus = false,
                    h = null;

                if (mOpen.length == 0) return;

                setTopOuter();

                function setTopOuter() {
                    outer.style.top = -outer.offsetHeight + 'px';
                }

                [].forEach.call(mOpen, function (el) {
                    el.addEventListener('click', function (e) {
                        var modalId = el.getAttribute('data-modal'),
                            modal = document.getElementById(modalId);
                        modalShow(modal);
                    });
                });

                [].forEach.call(mClose, function (el) {
                    el.addEventListener('click', modalClose);
                });

                document.addEventListener('keydown', modalClose);

                function modalShow(modal) {
                    mStatus = true;
                    overlay.classList.remove('fadeOut');
                    overlay.classList.add('fadeIn');
                    modal.style.display = 'block';

                    var start = new Date().getTime(),
                        startTop = outer.getBoundingClientRect().top,
                        finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                        offset = outer.offsetHeight + finalTop;

                    var fn = function () {
                        var now = new Date().getTime() - start,
                            currTop = Math.round(startTop + offset * now / duration);

                        currTop = (currTop > finalTop) ? finalTop : currTop;
                        outer.style.top = currTop + 'px';

                        if (currTop < finalTop) {
                            requestAnimationFrame(fn);
                        }
                    }
                    requestAnimationFrame(fn);
                    window.addEventListener('resize', setTopOpenOuter);
                }

                function modalClose(event) {
                    if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                        mStatus = false;

                        var start = new Date().getTime(),
                            startTop = outer.getBoundingClientRect().top,
                            finalTop = -outer.offsetHeight,
                            offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                        var fn = function () {
                            var now = new Date().getTime() - start,
                                currTop = Math.round(startTop - offset * now / duration);

                            currTop = (currTop < finalTop) ? finalTop : currTop;
                            outer.style.top = currTop + 'px';

                            if (currTop > finalTop) {
                                requestAnimationFrame(fn);
                            } else {
                                overlay.classList.remove('fadeIn');
                                overlay.classList.add('fadeOut');
                                [].forEach.call(modals, function (modal) {
                                    modal.removeAttribute('style');
                                });
                            }
                        }
                        requestAnimationFrame(fn);
                        window.removeEventListener('resize', setTopOpenOuter);
                    }
                }

                function setTopOpenOuter() {
                    outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
                }
            })();

        </script>*@
</body>


</html>
