@page
@model NRI.Views.IndexModel
@{

}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style type="text/css">
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            text-align: left;
            border-collapse: separate;
            border-spacing: 3px;
            background: #337ab7;
            color: #656665;
            /*color: rgb(162, 212, 255);*/
            border: 3px solid #337ab7;
            border-radius: 3px;
        }

        th {
            font-size: 18px;
            padding: 10px;
        }

        td {
            background: #ffffff;
            padding: 10px;
        }
        .table {
            
         }
    </style>
</head>


<body>
    <div class="table">
        <table>
            <tr>
                <th>Company INDEX</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
            </tr>
            <tr>
                <td>Microsoft</td>
                <td>20.3</td>
                <td>30.5</td>
                <td>23.5</td>
                <td>40.3</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>50.2</td>
                <td>40.63</td>
                <td>45.23</td>
                <td>39.3</td>
            </tr>
            <tr>
                <td>Apple</td>
                <td>25.4</td>
                <td>30.2</td>
                <td>33.3</td>
                <td>36.7</td>
            </tr>
            <tr>
                <td>IBM</td>
                <td>20.4</td>
                <td>15.6</td>
                <td>22.3</td>
                <td>29.3</td>
            </tr>
        </table>
    </div>
</body>


    @*<body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">
                    <nav id="menu">
                        <header class="major">
                            <h2>Меню</h2>
                        </header>
                        <ul>
                            <li id="TechOperationOut"><a asp-page="/TechOperationOut">Выходы</a></li>
                            <li id="Schedule"><a asp-page="/Schedule">Графики</a></li>
                            <li id="Tool"><a asp-page="/Tool">Инструменты</a></li>
                            <li id="Setup"><a asp-page="/Setup">Наладки</a></li>
                            <li id="Nomenclature"><a asp-page="/Nomenclature">Номенклатура</a></li>
                            <li id="Equipment"><a asp-page="/Equipment">Оборудование</a></li>
                            <li id="Personal"><a asp-page="/Personal">Персонал</a></li>
                            <li id="TechOperationNeed"><a asp-page="/TechOperationNeed">Потребности</a></li>
                            <li id="ProductionUnit"><a asp-page="/ProductionUnit">Производственные подразделения</a></li>
                            <li id="Mode"><a asp-page="/Mode">Режимы</a></li>
                            <li id="Resource"><a asp-page="/Resource">Ресурсы</a></li>
                            <li id="TechOperation"><a asp-page="/TechOperation">Технологические операции</a></li>
                            <li id="TechProcess"><a asp-page="/TechProcess">Технологические процессы</a></li>
                            <li id="Pattern"><a asp-page="/Pattern">Шаблоны</a></li>
                            <li>
                                <span class="opener">Submenu</span>
                                <ul>
                                    <li><a href="#">Lorem Dolor</a></li>
                                    <li><a href="#">Ipsum Adipiscing</a></li>
                                    <li><a href="#">Tempus Magna</a></li>
                                    <li><a href="#">Feugiat Veroeros</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; z_hel</p>
                    </footer>
                </div>
            </div>

            <div class="content">
                <header class="major">
                    <h2>Веб-подсистема управления нормативно-справочной информацией > Справочники</h2>
                </header>
            </div>

        </div>

        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/browser.min.js"></script>
        <script src="js/breakpoints.min.js"></script>
        <script src="js/util.js"></script>
        <script src="js/main.js"></script>

    </body>*@


</html>
