@page
@model NRI.Views.IndexModel
@{

}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <style type="text/css">
        /*.navbar {
            width: 100%;
            height: 100px;

            background: rgb(98, 77, 134);
        }
        .navbar-menu {
            width: 20%;
            float: left;
            background: rgb(128, 128, 128);
        }
        .navbar-directory {
            width: 80%;
            float: right;
            background: rgb(233, 233, 205);
        }

        .menu {
            width: 200px;
            height: 100px;
            float: left;
            background: rgb(156, 167, 169);
        }*/
        /*.dropdown {
            float: left;
            width: 20%;
            height: 100%;
            padding: 10px;
        }

        .body-content {
            float: left;
            width: 100%;
            height: 100%;
            display: inline-block;
            padding: 10px;
        }

        .content {
            width: 80%;
            height: 100%;
            float: right;
            padding: 10px;
        }

        .container {
            float: left;
        }

        .h4 {
            text-align: center;
            
        }
        .menu-divider {
            border-right-color: dimgray;
            border-right: 1px solid;
        }*/
    </style>
</head>
<body>
    @*<div class="body-content">
            <div class="dropdown">
                <h4>Меню</h4>
                <div class="menu">
                    Номенклатура
                </div>
                <div class="menu">
                    Технологические процессы
                </div>
                <div class="menu">
                    Технологические операции
                </div>
                <div class="menu">
                    Режимы
                </div>
                <div class="menu">
                    Потребности
                </div>
                <div class="menu">
                    Выходы
                </div>
                <div class="menu">
                    Персонал
                </div>
                <div class="menu">
                    Оборудование
                </div>
                <div class="menu">
                    Инструменты
                </div>
                <div class="menu">
                    Ресурсы
                </div>
                <div class="menu">
                    Наладки
                </div>
                <div class="menu">
                    Производственные подразделения
                </div>
                <div class="menu">
                    Графики
                </div>
                <div class="menu">
                    Шаблоны
                </div>
            </div>

            <div class="menu-divider"></div>

            <div class="content">BODY</div>

        </div>*@

    <body class="is-preload">

        <!-- Wrapper -->
        <div id="wrapper">

            

            <!-- Sidebar -->
            <div id="sidebar">
                <div class="inner">

                    <!-- Search -->
                    @*<section id="search" class="alt">
                        <form method="post" action="#">
                            <input type="text" name="query" id="query" placeholder="Search" />
                        </form>
                    </section>*@

                    <!-- Menu -->
                    <nav id="menu">
                        <header class="major">
                            <h2>Menu</h2>
                        </header>
                        <ul>
                            <li><a href="index.html">Homepage</a></li>
                            <li><a href="generic.html">Generic</a></li>
                            <li><a href="elements.html">Elements</a></li>
                            <li>
                                <span class="opener">Submenu</span>
                                <ul>
                                    <li><a href="#">Lorem Dolor</a></li>
                                    <li><a href="#">Ipsum Adipiscing</a></li>
                                    <li><a href="#">Tempus Magna</a></li>
                                    <li><a href="#">Feugiat Veroeros</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Etiam Dolore</a></li>
                            <li><a href="#">Adipiscing</a></li>
                            <li>
                                <span class="opener">Another Submenu</span>
                                <ul>
                                    <li><a href="#">Lorem Dolor</a></li>
                                    <li><a href="#">Ipsum Adipiscing</a></li>
                                    <li><a href="#">Tempus Magna</a></li>
                                    <li><a href="#">Feugiat Veroeros</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Maximus Erat</a></li>
                            <li><a href="#">Sapien Mauris</a></li>
                            <li><a href="#">Amet Lacinia</a></li>
                        </ul>
                    </nav>


                    <!-- Footer -->
                    <footer id="footer">
                        <p class="copyright">&copy; Untitled. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
                    </footer>

                </div>
            </div>

        </div>

        <!-- Scripts -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>

</body>
</html>
