@page
@model NRI.Views.IndexModel
@{

}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style type="text/css">
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            text-align: left;
            border-collapse: separate;
            border-spacing: 3px;
            background: #337ab7;
            color: #656665;
            /*color: rgb(162, 212, 255);*/
            border: 3px solid #337ab7;
            border-radius: 3px;
        }

        th {
            font-size: 18px;
            padding: 10px;
        }

        td {
            background: #ffffff;
            padding: 10px;
        }

        .table {
        }
    </style>
</head>


<body>
    <div class="table">
        <table>
            <tr>
                <th>Company</th>
                <th>Q1</th>
                <th>Q2</th>
                <th>Q3</th>
                <th>Q4</th>
            </tr>
            <tr>
                <td>Microsoft</td>
                <td>20.3</td>
                <td>30.5</td>
                <td>23.5</td>
                <td>40.3</td>
            </tr>
            <tr>
                <td>Google</td>
                <td>50.2</td>
                <td>40.63</td>
                <td>45.23</td>
                <td>39.3</td>
            </tr>
            <tr>
                <td>Apple</td>
                <td>25.4</td>
                <td>30.2</td>
                <td>33.3</td>
                <td>36.7</td>
            </tr>
            <tr>
                <td>IBM</td>
                <td>20.4</td>
                <td>15.6</td>
                <td>22.3</td>
                <td>29.3</td>
            </tr>
        </table>
    </div>
</body>


</html>
