@page
@{

}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    @*<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>*@

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap -->
    @*<script src="/examples/vendors/bootstrap-3.3.7/js/bootstrap.min.js"></script>*@

    @*<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>
    @*<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>*@
    <script src="~/16761-normal.js"></script>


    <style type="text/css">
        /*table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            text-align: left;
            border-collapse: separate;
            border-spacing: 3px;
            background: #337ab7;
            background-color: #337ab7;
            border-radius: 0.375em;
            box-shadow: inset 0 0 0 2px #337ab7;
            color: #337ab7 !important;
        }

        tr {
            background: #ffffff;
            border: 3px solid #337ab7;
        }

        th {
            font-size: 18px;
            padding: 10px;
        }

        td {
            background: #ffffff;
            padding: 10px;
        }*/

        #TechOperation {
            color: #337ab7;
        }

        INPUT {
            margin: 10px 10px 10px 0;
        }
    </style>
</head>


<body>
    <INPUT type="button" value="Добавить" data-modal="addModal" />
    <INPUT type="button" value="Редактировать" onclick="openEditModal()" />
    <INPUT type="button" value="Удалить" onclick="openDeleteModal()" />
    <INPUT type="button" value="Технологическая карта" onclick="openTKModal()" /> 
    @*data-modal="TKModal"*@
    <div class="table">
        <table id="techOperationTable">
            <thead>
                <tr>
                    <th>Порядковый номер</th>
                    <th>Технологическая операция</th>
                    <th>Технологический процесс</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="overlay" class="overlay fadeOut" data-close=""></div>
    <div class="modal-outer" style="top: -460px;">
        <span class="closer" id="closer" data-close=""></span>



        <div id="addModal">
            <form name="techOperationForm">
                <input type="hidden" name="id" value="0" />
                <div class="form-group">
                    <label for="techOperation">Технологическая операция:</label>
                    <input class="form-control" name="techOperation" id="techOperation" />
                </div>
                <div class="form-group">
                    <label for="techProcess">Технологический процесс:</label>
                    <select name="techProcess" id="selectTechProcess"></select>
                </div>
                <div class="form-group">
                    <label for="serialNumber">Порядковый номер:</label>
                    <input class="form-control" name="serialNumber" id="serialNumber" />
                </div>
                <div class="panel-body">

                    <input type="button" value="Добавить" onclick="AddTechOperation()" />
                    <input type="button" value="Сбросить" onclick="reset('techOperationForm')" />
                </div>
            </form>
        </div>

        <div id="TKModal">
            <form name="TKForm">
                <input type="hidden" name="id" value="0" />
                <div class="form-group">
                    <label for="selectTKTechProcess">Технологический процесс:</label>
                    <select name="selectTKTechProcess" id="selectTKTechProcess"></select>

                </div>
                <div class="panel-body">
                    <INPUT type="button" value="Показать" onclick="showTK()" />
                    <INPUT type="button" value="Выгрузить в pdf" onclick="downloadTK()" />
                </div>
                <div id="listOperationsTK" style="padding: 15px;"></div>
            </form>
        </div>


        <div id="editModal">
            <form name="techOperationEditForm">
                <input type="hidden" name="id" value="0" />
                <div class="form-group">
                    <label for="serialNumber">Порядковый номер:</label>
                    <input class="form-control" name="serialNumber" id="serialNumberEdit" />
                </div>
                <div class="form-group">
                    <label for="techOperation">Технологическая операция:</label>
                    <input class="form-control" name="TechOperationEdit" id="TechOperationEdit" />
                </div>
                <div class="form-group">
                    <label for="techProcess">Технологический процесс:</label>
                    <select name="techProcess" id="selectTechProcessEdit"></select>
                </div>

                <div class="panel-body">

                    <input type="button" value="Изменить" onclick="EditTechOperation()" />
                    <input type="button" value="Сбросить" onclick="reset('techOperationEditForm')" />
                </div>
            </form>
        </div>


        <div id="deleteModal">
            <div class="panel-body">
                <h3>Вы уверены, что хотите удалить запись?</h3>
                <input type="button" value="Удалить" onclick="DeleteTechOperation()" />
                <input type="button" value="Отменить" onclick="CloseModal()" />
            </div>
        </div>
    </div>



    <script>


        var selectedCheckbox;
        var selectedForDelete = [];
        var TKOperations = [];
        var resultForDelete = new Map();
        var resultTOForTK = new Map();
        var resultTPForTK = new Map();
        var resultNumTOForTK = new Map();


        function downloadTK() {
            showTK();

            var indexTechProcessSelected = document.getElementById("selectTKTechProcess").options.selectedIndex;
            var techProcess = document.getElementById("selectTKTechProcess").options[indexTechProcessSelected].text;

            var doc = new jsPDF()


            doc.setFont('16761')

            doc.text("Технологический процесс: ", 20, 20);
            doc.text(techProcess, 20, 30);

            var x = 40;

            doc.text("Номер | Технологическая операция", 40, x);

            for (var i = 0; i < TKOperations.length; i++) {
                x = x + 10;
                doc.text(TKOperations[i], 40, x);
            }


            doc.save('techMap.pdf')
        }

        async function showTK() {

            var indexTechProcessSelected = document.getElementById("selectTKTechProcess").options.selectedIndex;
            var techProcessId = document.getElementById("selectTKTechProcess").options[indexTechProcessSelected].value;

            var f = document.getElementById('listOperationsTK');
            f.innerHTML = '<label for="listOperationsTK" class="tk" id="tk">Номер | Технологическая операция</label>';

            $("label.tkLabel").remove();
            TKOperations = [];

            resultTPForTK.forEach(function (keyTP, valueTP) {
                var techProcessIdTK = resultTPForTK.get(valueTP);

                resultTOForTK.forEach(function (keyTO, valueTO) {
                    var techOperationName = keyTO;


                    if (valueTP == valueTO && techProcessId == techProcessIdTK) {
                        TKOperations.push(resultNumTOForTK.get(valueTO) + "     " + techOperationName);
                    }
                });

            });

            for (var i = 0; i < TKOperations.length; i++) {
                var elem = TKOperations[i];
                var sp = document.createElement("span");
                sp.innerHTML = '<label for="listOperationsTK" class="tkLabel" id="' + i + '">' + elem + '</label>';
                sp.id = i;
                f.appendChild(sp);
            }
        }

        function EditTechOperation() {

            var techOperationNamePUT = document.getElementById("TechOperationEdit").value;

            var indexTechProcessSelected = document.getElementById("selectTechProcessEdit").options.selectedIndex;
            var techProcessIdPUT = document.getElementById("selectTechProcessEdit").options[indexTechProcessSelected].value;

            var serialNumberPUT = document.getElementById("serialNumberEdit").value;
            if (serialNumberPUT.match(/^[-\+]?\d+/) === null) { alert('Укажите корректное числовое значение параметра "Порядковый номер"'); }

            var idPUT = selectedCheckbox;

            var urlstr = "api/TechOperation/" + idPUT;
            $.ajax({
                url: urlstr,
                contentType: "application/json",
                method: "PUT",
                data: JSON.stringify({
                    name: techOperationNamePUT,
                    techProcessId: techProcessIdPUT,
                    serialNumber: serialNumberPUT,
                    id: idPUT
                }),
                success: async function (techOperation) {
                    reset('techOperationEditForm');
                    alert('Запись успешно изменена');
                    //update table

                    var table = document.getElementById('techOperationTable');

                    for (var i = 1; i < table.rows.length;) {
                        table.deleteRow(i);
                    }
                    await GetTechOperations();
                    await GetTechProcesses();
                    CloseModal();
                },
                error: function (e) {
                    console.log(e.message);
                }
            })
        }

        function openTKModal() {
            var tkModal = document.getElementById('TKModal');
            document.getElementById('listOperationsTK').innerHTML = '';
            somebodyShow(tkModal);
        }

        function openEditModal() {

            $('input[type=checkbox]').each(async function () {
                //if ($(this).is(':checked')) {
                if (this.checked) {
                    selectedCheckbox = this.value;
                    var editModal = document.getElementById('editModal');

                    somebodyShow(editModal);
                    //TODO SHOW EDIT MODAL


                    //editButton.setAttribute('data-modal', 'editModal');
                    //showForEdit(editModal);
                    //modalShow(editModal);
                    //$("#editModal").show();
                    var id = selectedCheckbox;
                    await GetTechOperationById(id);

                    return false;
                }
            });
            if (selectedCheckbox == null) {
                alert('Не выбрана ни одна запись');
            }
            return false;
        }

        // сброс формы
        function reset(formId) {
            var form = document.forms[formId];
            form.reset();
            form.elements["id"].value = 0;
        }


        function CloseModal() {
            var closer = document.getElementById('closer');
            closer.click();
        }


        function openDeleteModal() {
            selectedForDelete = [];

            $('input[type=checkbox]').each(function () {
                if (this.checked) {
                    selectedForDelete.push(this.value)
                }
            });


            if (selectedForDelete.length == 0) {
                alert('Не выбрана ни одна запись');
                return false;
            }


            var deleteModal = document.getElementById('deleteModal');
            //TODO SHOW DELETE MODAL
            somebodyShow(deleteModal);

            return false;
        }

        async function DeleteTechOperation() {
            var count = selectedForDelete.length;
            selectedForDelete.map(async function (elem, index) {
                var idDEL = elem;

                var urlstr = "api/TechOperation/" + idDEL;
                $.ajax({
                    url: urlstr,
                    contentType: "application/json",
                    method: "DELETE",
                    data: JSON.stringify({
                        id: idDEL
                    }),
                    success: async function (techOperation) {
                        if (index == count - 1) {
                            alert('Запись удалена');

                            var table = document.getElementById('techOperationTable');

                            for (var i = 1; i < table.rows.length;) {
                                table.deleteRow(i);
                            }
                            await GetTechOperations();
                            await GetTechProcesses();
                            CloseModal();
                        }
                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });
            })
            //alert('Запись удалена');
            //CloseModal();
            //if (res) {
            //    alert('Запись удалена');

            //    var table = document.getElementById('techOperationTable');

            //    for (var i = 1; i < table.rows.length;) {
            //        table.deleteRow(i);
            //    }
            //    await GetTechOperations();
            //    CloseModal();
            //}



        }


        async function GetTechOperationById(id) {
            var urlstr = "api/TechOperation/" + id;
            await $.ajax({
                url: urlstr,
                type: 'GET',
                contentType: "application/json",
                success: async function (techOperation) {
                    var previousTO = document.getElementById('TechOperationEdit');
                    previousTO.value = techOperation.name;

                    var previousTechProcess = document.getElementById('selectTechProcessEdit');
                    previousTechProcess.value = techOperation.techProcessId;

                    var previousSerialNumber = document.getElementById('serialNumberEdit');
                    previousSerialNumber.value = techOperation.serialNumber;

                    resultForDelete.set('techOperationName', techOperation.name);
                    resultForDelete.set('techProcessId', techOperation.TechProcessId);
                    resultForDelete.set('serialNumber', techOperation.serialNumber);
                },
                error: function (e) {
                    console.log(e.message);
                }
            });
        }

        function GetTechProcesses() {
            var select = document.getElementById('selectTechProcess');
            var selectEdit = document.getElementById('selectTechProcessEdit');
            var selectTK = document.getElementById('selectTKTechProcess');
            $.ajax({
                url: '/api/TechProcess',
                type: 'GET',
                contentType: "application/json",
                success: function (techProcesses) {
                    $.each(techProcesses, function (index, techProcess) {
                        var ooption = document.createElement('option');
                        ooption.value = techProcess.id;
                        ooption.innerText = techProcess.name
                        select.appendChild(ooption);

                        var ooptionTK = document.createElement('option');
                        ooptionTK.value = techProcess.id;
                        ooptionTK.innerText = techProcess.name
                        selectTK.appendChild(ooptionTK);

                        var ooptionEdit = document.createElement('option');
                        ooptionEdit.value = techProcess.id;
                        ooptionEdit.innerText = techProcess.name
                        selectEdit.appendChild(ooptionEdit);
                    })
                },
                error: function (e) {
                    console.log(e.message);
                }
            });
        }



        function AddTechOperation() {
            var techOperationName = document.getElementById("techOperation").value;

            var indexTechProcessSelected = document.getElementById("selectTechProcess").options.selectedIndex;
            var techProcessId = document.getElementById("selectTechProcess").options[indexTechProcessSelected].value;

            var serialNumber = document.getElementById("serialNumber").value;
            if (serialNumber.match(/^[-\+]?\d+/) === null) { alert('Укажите корректное числовое значение параметра "Порядковый номер"'); }


            $.ajax({
                url: "api/TechOperation",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    name: techOperationName,
                    techProcessId: techProcessId,
                    serialNumber: serialNumber
                }),
                success: async function (techOperation) {
                    reset('techOperationForm');
                    alert('Запись успешно добавлена');
                    addRow('techOperationTable', techOperation);
                    await GetTechProcesses();
                }
            })
        }


        // Получение всех techOperation
        function GetTechOperations() {
            var i = 0;
            $.ajax({
                url: '/api/TechOperation',
                type: 'GET',
                contentType: "application/json",
                success: function (techOperations) {

                    $.each(techOperations, function (index, techOperation) {
                        i = i + 1;

                        //var TOIndex = 'techOperationName' + techOperation.id;
                        //var TPIndex = 'techProcessId' + techOperation.id;

                        resultTOForTK.set(techOperation.id, techOperation.name);
                        resultTPForTK.set(techOperation.id, techOperation.techProcessId);
                        resultNumTOForTK.set(techOperation.id, techOperation.serialNumber);

                        var transactionList = techOperation;

                        addRow("techOperationTable", transactionList);
                    })
                },
                error: function (e) {
                    console.log(e.message);
                    if (e.status == 500) {
                        alert('Нет соединения с базой данных');
                    }
                }
            })
        }

        async function GetTechProcessName(id) {
            var name;
            var urlstr = '/api/TechProcess/' + id;
            await $.ajax({
                url: urlstr,
                type: 'GET',
                contentType: "application/json",
                success: function (techProcess) {
                    name = techProcess.name;
                },
                error: function (e) {
                    console.log(e.message);
                }
            });
            return name;
        }

        async function addRow(tableID, data) {

            var table = document.getElementById(tableID);

            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);

            var techOperationName = data.name;

            var techProcessId = data.techProcessId;
            var techProcessName = await GetTechProcessName(techProcessId);

            var cell1 = row.insertCell(0);
            cell1.innerText = data.serialNumber;

            var cell2 = row.insertCell(1);
            cell2.innerText = techOperationName;

            var cell3 = row.insertCell(2);
            cell3.innerText = techProcessName;


            var cell4 = row.insertCell(3);
            //var el = document.createElement('label');
            //cell4.innerHTML = '<input type="checkbox" class="cbx" value="' + data.id + '" id="checkbox' + data.id + '" style="display: none;"><label for="checkbox' + data.id + '" class="check"><svg width="18px" height="18px" viewBox="0 0 18 18"><path d="M1,9 L1,3.5 C1,2 2,1 3.5,1 L14.5,1 C16,1 17,2 17,3.5 L17,14.5 C17,16 16,17 14.5,17 L3.5,17 C2,17 1,16 1,14.5 L1,9 Z"></path><polyline points="1 9 7 14 15 4"></polyline></svg></label>';
            //el.innerHTML = '<input type="checkbox" id="checkbox" value="' + data.id + '" id="cbx" style="display: block;">';
            cell4.innerHTML = '<input type="checkbox" value="' + data.id + '" id="checkbox' + data.id + '"/><label for="checkbox' + data.id + '"></label>';
            //cell4.appendChild(el);
        }

        GetTechOperations();
        GetTechProcesses();






        var overlay = document.getElementById('overlay'),
            mOpen = document.querySelectorAll('[data-modal]'),
            mClose = document.querySelectorAll('[data-close]'),
            outer = document.querySelector('.modal-outer'),
            modals = document.querySelectorAll('.modal-outer > div'),
            duration = 400,
            mStatus = false,
            h = null;



        setTopOuter();

        function setTopOuter() {
            outer.style.top = -outer.offsetHeight + 'px';
        }


        function somebodyShow(modal) {

            mStatus = true;
            overlay.classList.remove('fadeOut');
            overlay.classList.add('fadeIn');
            modal.style.display = 'block';

            var start = new Date().getTime(),
                startTop = outer.getBoundingClientRect().top,
                finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                offset = outer.offsetHeight + finalTop;

            var fn = function () {
                var now = new Date().getTime() - start,
                    currTop = Math.round(startTop + offset * now / duration);

                currTop = (currTop > finalTop) ? finalTop : currTop;
                outer.style.top = currTop + 'px';

                if (currTop < finalTop) {
                    requestAnimationFrame(fn);
                }
            }
            requestAnimationFrame(fn);
            window.addEventListener('resize', setTopOpenOuter);
        }

        function setTopOpenOuter() {
            outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
        }

        (function () {
            if (mOpen.length == 0) return;
            [].forEach.call(mOpen, function (el) {
                el.addEventListener('click', function (e) {
                    var modalId = el.getAttribute('data-modal'),
                        modal = document.getElementById(modalId);
                    somebodyShow(modal);
                });
            });
        }());


        [].forEach.call(mClose, function (el) {
            el.addEventListener('click', modalClose);
        });

        document.addEventListener('keydown', modalClose);


        function modalClose(event) {
            if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                mStatus = false;

                var start = new Date().getTime(),
                    startTop = outer.getBoundingClientRect().top,
                    finalTop = -outer.offsetHeight,
                    offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                var fn = function () {
                    var now = new Date().getTime() - start,
                        currTop = Math.round(startTop - offset * now / duration);

                    currTop = (currTop < finalTop) ? finalTop : currTop;
                    outer.style.top = currTop + 'px';

                    if (currTop > finalTop) {
                        requestAnimationFrame(fn);
                    } else {
                        overlay.classList.remove('fadeIn');
                        overlay.classList.add('fadeOut');
                        [].forEach.call(modals, function (modal) {
                            modal.removeAttribute('style');
                        });
                    }
                }
                requestAnimationFrame(fn);
                window.removeEventListener('resize', setTopOpenOuter);
            }
        }



        ; (function () {
            var overlay = document.getElementById('overlay'),
                mOpen = document.querySelectorAll('[data-modal]'),
                mClose = document.querySelectorAll('[data-close]'),
                outer = document.querySelector('.modal-outer'),
                modals = document.querySelectorAll('.modal-outer > div'),
                duration = 400,
                mStatus = false,
                h = null;

            if (mOpen.length == 0) return;

            setTopOuter();

            function setTopOuter() {
                outer.style.top = -outer.offsetHeight + 'px';
            }

            [].forEach.call(mOpen, function (el) {
                el.addEventListener('click', function (e) {
                    var modalId = el.getAttribute('data-modal'),
                        modal = document.getElementById(modalId);
                    modalShow(modal);
                });
            });

            [].forEach.call(mClose, function (el) {
                el.addEventListener('click', modalClose);
            });

            document.addEventListener('keydown', modalClose);

            function modalShow(modal) {
                mStatus = true;
                overlay.classList.remove('fadeOut');
                overlay.classList.add('fadeIn');
                modal.style.display = 'block';

                var start = new Date().getTime(),
                    startTop = outer.getBoundingClientRect().top,
                    finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                    offset = outer.offsetHeight + finalTop;

                var fn = function () {
                    var now = new Date().getTime() - start,
                        currTop = Math.round(startTop + offset * now / duration);

                    currTop = (currTop > finalTop) ? finalTop : currTop;
                    outer.style.top = currTop + 'px';

                    if (currTop < finalTop) {
                        requestAnimationFrame(fn);
                    }
                }
                requestAnimationFrame(fn);
                window.addEventListener('resize', setTopOpenOuter);
            }

            function modalClose(event) {
                if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                    mStatus = false;

                    var start = new Date().getTime(),
                        startTop = outer.getBoundingClientRect().top,
                        finalTop = -outer.offsetHeight,
                        offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                    var fn = function () {
                        var now = new Date().getTime() - start,
                            currTop = Math.round(startTop - offset * now / duration);

                        currTop = (currTop < finalTop) ? finalTop : currTop;
                        outer.style.top = currTop + 'px';

                        if (currTop > finalTop) {
                            requestAnimationFrame(fn);
                        } else {
                            overlay.classList.remove('fadeIn');
                            overlay.classList.add('fadeOut');
                            [].forEach.call(modals, function (modal) {
                                modal.removeAttribute('style');
                            });
                        }
                    }
                    requestAnimationFrame(fn);
                    window.removeEventListener('resize', setTopOpenOuter);
                }
            }

            function setTopOpenOuter() {
                outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
            }
        })();

    </script>

    <script>var typeAnimate = 'slide';</script>
    @*<script>
            ; (function () {
                var overlay = document.getElementById('overlay'),
                    mOpen = document.querySelectorAll('[data-modal]'),
                    mClose = document.querySelectorAll('[data-close]'),
                    outer = document.querySelector('.modal-outer'),
                    modals = document.querySelectorAll('.modal-outer > div'),
                    duration = 400,
                    mStatus = false,
                    h = null;

                if (mOpen.length == 0) return;

                setTopOuter();

                function setTopOuter() {
                    outer.style.top = -outer.offsetHeight + 'px';
                }

                [].forEach.call(mOpen, function (el) {
                    el.addEventListener('click', function (e) {
                        var modalId = el.getAttribute('data-modal'),
                            modal = document.getElementById(modalId);
                        modalShow(modal);
                    });
                });

                [].forEach.call(mClose, function (el) {
                    el.addEventListener('click', modalClose);
                });

                document.addEventListener('keydown', modalClose);

                function modalShow(modal) {
                    mStatus = true;
                    overlay.classList.remove('fadeOut');
                    overlay.classList.add('fadeIn');
                    modal.style.display = 'block';

                    var start = new Date().getTime(),
                        startTop = outer.getBoundingClientRect().top,
                        finalTop = (window.innerHeight - outer.offsetHeight) / 2,
                        offset = outer.offsetHeight + finalTop;

                    var fn = function () {
                        var now = new Date().getTime() - start,
                            currTop = Math.round(startTop + offset * now / duration);

                        currTop = (currTop > finalTop) ? finalTop : currTop;
                        outer.style.top = currTop + 'px';

                        if (currTop < finalTop) {
                            requestAnimationFrame(fn);
                        }
                    }
                    requestAnimationFrame(fn);
                    window.addEventListener('resize', setTopOpenOuter);
                }

                function modalClose(event) {
                    if (mStatus && (!event.keyCode || event.keyCode === 27)) {
                        mStatus = false;

                        var start = new Date().getTime(),
                            startTop = outer.getBoundingClientRect().top,
                            finalTop = -outer.offsetHeight,
                            offset = outer.offsetHeight + (window.innerHeight - outer.offsetHeight) / 2;

                        var fn = function () {
                            var now = new Date().getTime() - start,
                                currTop = Math.round(startTop - offset * now / duration);

                            currTop = (currTop < finalTop) ? finalTop : currTop;
                            outer.style.top = currTop + 'px';

                            if (currTop > finalTop) {
                                requestAnimationFrame(fn);
                            } else {
                                overlay.classList.remove('fadeIn');
                                overlay.classList.add('fadeOut');
                                [].forEach.call(modals, function (modal) {
                                    modal.removeAttribute('style');
                                });
                            }
                        }
                        requestAnimationFrame(fn);
                        window.removeEventListener('resize', setTopOpenOuter);
                    }
                }

                function setTopOpenOuter() {
                    outer.style.top = (window.innerHeight - outer.offsetHeight) / 2 + 'px';
                }
            })();

        </script>*@
</body>


</html>
