@{

}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>NRI</title>
    <link rel="stylesheet" href="css/main.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <style type="text/css">
        table {
            font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
            text-align: left;
            border-collapse: separate;
            border-spacing: 3px;
            background: #337ab7;
            color: #656665;
            /*color: rgb(162, 212, 255);*/
            border: 3px solid #337ab7;
            border-radius: 3px;
        }

        th {
            font-size: 18px;
            padding: 10px;
        }

        td {
            background: #ffffff;
            padding: 10px;
        }

        .table {
        }
    </style>
</head>


<body>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Технологическая операция</th>
                    <th>Номенклатура входного изделия</th>
                    <th>Количество</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>


    @*<script>
        // Получение всех techOperationOut
        function GetTechOperationOuts() {
            $.ajax({
                url: '/api/TechOperationOut',
                type: 'GET',
                contentType: "application/json",
                success: function (techOperationOuts) {
                    var rows = "";
                    $.each(techOperationOuts, function (TechOperationOut, techOperationOut) {
                        // добавляем полученные элементы в таблицу
                        rows += row(techOperationOut);
                    })
                    $("table tbody").append(rows);
                }
            });
        }
        GetTechOperationOuts();

    </script>*@
        @*//TODO function

        //// Получение одного techOperationOut
        //function GetTechOperationOut(id) {
        //    $.ajax({
        //        url: '/api/techOperationOut/'+id,
        //        type: 'GET',
        //        contentType: "application/json",
        //        success: function (techOperationOut) {
        //            var form = document.forms["techOperationOutForm"];
        //            form.elements["id"].value = techOperationOut.id;
        //            form.elements["name"].value = techOperationOut.name;
        //            form.elements["age"].value = techOperationOut.age;
        //        }
        //    });
        //}
        //// Добавление techOperationOut
        //function CreateTechOperationOut(techOperationOutName, techOperationOutAge) {
        //    $.ajax({
        //        url: "api/techOperationOut",
        //        contentType: "application/json",
        //        method: "POST",
        //        data: JSON.stringify({
        //            name: techOperationOutName,
        //            age: techOperationOutAge
        //        }),
        //        success: function (techOperationOut) {
        //            reset();
        //            $("table tbody").append(row(techOperationOut));
        //        }
        //    })
        //}
        //// Изменение techOperationOut
        //function EditTechOperationOut(techOperationOutId, techOperationOutName, techOperationOutAge) {
        //    $.ajax({
        //        url: "api/techOperationOut",
        //        contentType: "application/json",
        //        method: "PUT",
        //        data: JSON.stringify({
        //            id: techOperationOutId,
        //            name: techOperationOutName,
        //            age: techOperationOutAge
        //        }),
        //        success: function (techOperationOut) {
        //            reset();
        //            $("tr[data-rowid='" + techOperationOut.id + "']").replaceWith(row(techOperationOut));
        //        }
        //    })
        //}

        //// сброс формы
        //function reset() {
        //    var form = document.forms["techOperationOutForm"];
        //    form.reset();
        //    form.elements["id"].value = 0;
        //}

        //// Удаление techOperationOut
        //function DeleteTechOperationOut(id) {
        //    $.ajax({
        //        url: "api/techOperationOut/"+id,
        //        contentType: "application/json",
        //        method: "DELETE",
        //        success: function (techOperationOut) {
        //            $("tr[data-rowid='" + techOperationOut.id + "']").remove();
        //        }
        //    })
        //}
        //// создание строки для таблицы
        //var row = function (techOperationOut) {
        //    return "<tr data-rowid='" + techOperationOut.id + "'><td>" + techOperationOut.id + "</td>" +
        //           "<td>" + techOperationOut.name + "</td> <td>" + techOperationOut.age + "</td>" +
        //           "<td><a class='editLink' data-id='" + techOperationOut.id + "'>Изменить</a> | " +
        //            "<a class='removeLink' data-id='" + techOperationOut.id + "'>Удалить</a></td></tr>";
        //}
        //// сброс значений формы
        //$("#reset").click(function (e) {

        //    e.preventDefault();
        //    reset();
        //})

        //// отправка формы
        //$("form").submit(function (e) {
        //    e.preventDefault();
        //    var id = this.elements["id"].value;
        //    var name = this.elements["name"].value;
        //    var age = this.elements["age"].value;
        //    if (id == 0)
        //        CreateTechOperationOut(name, age);
        //    else
        //        EditTechOperationOut(id, name, age);
        //});

        //// нажимаем на ссылку Изменить
        //$("body").on("click", ".editLink", function () {
        //    var id = $(this).data("id");
        //    GetTechOperationOut(id);
        //})
        //// нажимаем на ссылку Удалить
        //$("body").on("click", ".removeLink", function () {
        //    var id = $(this).data("id");
        //    DeleteTechOperationOut(id);
        //})

        // загрузка techOperationOut
        GetTechOperationOuts();

    </script>*@


</body>


</html>
